<div class='navbar'>
  <div class='page--title'>
    Classrooms
  </div>
  <div class='login'>
    <a href='/login' id='login'>
      Login
    </a>
  </div>
</div>
<div class='hero'>
  <div class='layout--top'>
    <div class='title'>
      Available Classrooms
    </div>

    <div class='filter--section'>
      <div>
        <label for='sort'>Filter:</label>
        <form action='/' method='post'>
          <input type='radio' value='Golden Jubilee' name='check' />
          <label>Golden Jubilee Bhavan</label><br />
          <input type='radio' value='Polymer Science' name='check' />
          <label>Polymer Science</label><br />
          <input type='radio' value='Environment' name='check' />
          <label>Environment</label><br />
          <input type='radio' value='Admin' name='check' />
          <label>Admin</label><br />
          <button type='submit'>Filter</button>

          <!--<select name='sort'>
            <option>All</option>
            <option name='gj' value='Golden Jubilee'>Golden Jubilee</option>
            <option name='ps' value='ps'>Polymer Science block</option>
            <option name='admin' value='admin'>Admin block</option>
            <option name='env' value='env'>Environment Block</option>
          </select> -->
        </form>
      </div>
    </div>
  </div>
  <div class='layout--bottom'>
    {{#each rows}}
      <div class='classDisplay'>
        <div class='displayOne'>
          <div class='headDisplay'>
            Time Frame
          </div>
          <div class='timeSlot'>
            {{this.Block}}
          </div>
        </div>
        <div class='displayTwo'>
          <div class='headDisplay'>
            {{this.Classroom}}
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>