<div class="navbar">
  <div class="page--title">
    Classrooms
  </div>
  <div class="login">
    <button id="login">
      Back
    </button>
  </div>
</div>
<div class="hero">
  <form action="/login" method="post">
    <div class="loginForm">
      <div class="inputArea">
        <input type="text" placeholder="Username" name="username" autofocus />
        <input type="password" placeholder="Password" name="password" />
      </div>
      <div class="submitArea">
        <!-- <div style="font-size:small;">
        Forgot Password?
      </div> -->
        <div>
          <button type="submit">
            Submit
          </button>
        </div>

      </div>
    </div>
  </form>

</div>