<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

        <title>Availability</title>
</head>
<body>
    <div class="navbar">
        <div class="page--title">
            Classrooms
        </div>
        <div class="login">
            <button id="login">
                Back
            </button>
        </div>
    </div>
    <div class="hero">
        <div class="loginForm">
            <div class="inputArea">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">

            </div>
            <div class="submitArea">
                <div style="font-size:small;">
                    Forgot Password?
                </div>
                <div>
                    <button>
                    Submit
                    </button>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
</body>
</html>