<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

        <title>Availability</title>
</head>
<body>
    <div class="navbar">
        <div class="page--title">
            Classrooms
        </div>
        <div class="login">
            <button id="login">
                Login
            </button>
        </div>
    </div>
    <div class="hero">
        <div class="layout--top">
            <div class="title">
                Available Classrooms
            </div>
            <div class="filter--section">
              <div>
                <label for="sort">Filter:</label>
                 <select name="sort">
                    <option>All</option>
                    <option>Golden Jubilee - CS</option>
                    <option>Golden Jubilee - IS</option>
                    <option>Polymer Science block</option>
                    <option>Admin block</option>
                    <option>Environment Block</option>
                </select> 
            </div>
            </div>
        </div>
        <div class="layout--bottom">
            <div class="classDisplay">
                <div class="displayOne">
                   <div class="headDisplay">
                        Time Frame
                   </div>
                   <div class="timeSlot">
                        11:30 - 12:30
                   </div>
                </div>
                <div class="displayTwo">
                    <div class="headDisplay">
                        CS001
                   </div>

                </div>
            </div>
            
            <div class="classDisplay">
                <div class="displayOne">
                   <div class="headDisplay">
                        Time Frame
                   </div>
                   <div class="timeSlot">
                        11:30 - 12:30
                   </div>
                </div>
                <div class="displayTwo">
                    <div class="headDisplay">
                        CS001
                   </div>

                </div>
            </div>

            <div class="classDisplay">
                <div class="displayOne">
                   <div class="headDisplay">
                        Time Frame
                   </div>
                   <div class="timeSlot">
                        11:30 - 12:30
                   </div>
                </div>
                <div class="displayTwo">
                    <div class="headDisplay">
                        CS001
                   </div>

                </div>
            </div>
<div class="classDisplay">
                <div class="displayOne">
                   <div class="headDisplay">
                        Time Frame
                   </div>
                   <div class="timeSlot">
                        11:30 - 12:30
                   </div>
                </div>
                <div class="displayTwo">
                    <div class="headDisplay">
                        CS001
                   </div>

                </div>
            </div>
<div class="classDisplay">
                <div class="displayOne">
                   <div class="headDisplay">
                        Time Frame
                   </div>
                   <div class="timeSlot">
                        11:30 - 12:30
                   </div>
                </div>
                <div class="displayTwo">
                    <div class="headDisplay">
                        CS001
                   </div>

                </div>
            </div>

            
            
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
</body>
</html>